.create-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  border-bottom: 2px solid var(--secondary-color);
  height: 30px;
  padding: var(--m-sm-spacing);
}

.create-modal-title {
  flex:1;
  font-size: small;
  font-weight: bold;
}
.dots {
  flex:1;
  text-align: center;
}

.modal-form-wrapper {
  padding: var(--m-sm-spacing);
  width:87vw;
}

input::placeholder {
  color: var(--primary-color);
}

.modal-form-wrapper input, textarea, .autocomplete-input {
  width: 86vw;
  display: block;
  border-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: none;
  border-width:1px;
  padding-left:2px;
  height: 30px;
  font-family: var(--font-family);
  color: var(--primary-color)
}

.modal-form-wrapper input[type="file"] {
  width: 150px;
}


.modal-form-wrapper
:where(.css-dev-only-do-not-override-15apr8r)[class^="ant-form"] [class*=" ant-form"], :where(.css-dev-only-do-not-override-15apr8r)[class*=" ant-form"] [class*=" ant-form"], :where(.css-dev-only-do-not-override-15apr8r).ant-row {
  flex-direction: column;
}

.modal-form-wrapper
:where(.css-dev-only-do-not-override-15apr8r).ant-form-item .ant-form-item-label {
  text-align: start
}

:where(.css-dev-only-do-not-override-15apr8r).ant-input, .autocomplete-input {
  border-color: var(--primary-color)
}

:where(.css-dev-only-do-not-override-15apr8r).ant-input:focus {
  border-width: 2px;
}


.create-modal-header .step-button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  flex:1;
}

.create-modal-header .step-button:disabled {
  color: var(--secondary-color)
}
.back-button {
  text-align: left;
}

.next-button {
  text-align: right;
}

.preview-title {
  text-align: center;
  font-weight: bold;
}

.preview-details {
  display: flex;
  justify-content: space-between;
}

.image-display {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}

.preview-image {
  width: 100%;
  border-radius: 10px;
}

