
.header {
  height: 30px;
  padding: var(--m-m-spacing) var(--m-basic-spacing);
}

.wrapper {
 padding: var(--m-sm-spacing);
 /* width: 95vw; */
}

h1 {
  font-size: var(--mob-txt-size-h1)
}

h2 {
  font-size: var(--mob-txt-size-h2)
}

.button {
  width: 122px;
  height: 36px;
  background-color: var(--primary-color);
  box-shadow: 0px 3px 5px var(--secondary-color);
  border-radius: 100px;
  color: white;
  border: none;
}

.divider {
  background-color: var(--secondary-color);
  height: 2px;
  width: 95vw;
}