
.header {
  height: 40px;
  padding: var(--m-m-spacing) var(--m-basic-spacing);
}

.logo {
  height: 40px
}

.wrapper {
 padding: var(--m-sm-spacing);
 /* width: 95vw; */
}

h1 {
  font-size: var(--mob-txt-size-h1)
}

h2 {
  font-size: var(--mob-txt-size-h2)
}

.button {
  width: 122px;
  height: 36px;
  background-color: var(--primary-color);
  box-shadow: 0px 3px 5px var(--secondary-color);
  border-radius: 100px;
  color: white;
  border: none;
}

.divider {
  background-color: var(--secondary-color);
  height: 2px;
  width: 90vw;
  margin: auto;
}

.loading-container{
  width:"100vw";
  height: "78%";
  display:"flex";
  align-items:"center";
  justify-content:"center";
}

:where(.css-dev-only-do-not-override-du6qgt).ant-modal .ant-modal-content {
  padding: 0;
  /* height: 50vh; */
}

:where(.css-dev-only-do-not-override-du6qgt).ant-form-horizontal .ant-form-item-control {
  flex: none;
  min-width: 0;
}

.ant-form-item {
  margin-bottom: var(--m-sm-spacing)
}
:where(.css-dev-only-do-not-override-du6qgt).ant-row {
  flex-direction: column;
}
:where(.css-dev-only-do-not-override-du6qgt).ant-input-number {
  width: 100%
}
:where(.css-dev-only-do-not-override-du6qgt).ant-input {
  border-color: var(--primary-color)
}
:where(.css-dev-only-do-not-override-du6qgt).ant-form-item .ant-form-item-label{
  text-align: start
}

:where(.css-dev-only-do-not-override-du6qgt).ant-modal .ant-modal-content{
  padding:0;
}