* {
  margin: 0;
  padding: 0;
 }

 :root {
   --primary-color: #8663F3;
   --secondary-color: #d6d6d6;
   --black: #000000;
   --white: #fff;

   --m-basic-spacing: 22px;
   --m-m-spacing: 16px;
   --m-sm-spacing: 2.5vw;

   --font-family: 'Roboto', sans-serif;

   --desk-txt-size-norm: 16px;

   --mob-txt-size-norm: 14px;
   --mob-txt-size-h1: 18px;
   --mob-txt-size-h2: 16px;

   --mob-icon-size: 23px;
 }


 body{
   font-family: var(--font-family);
   overflow: hidden;
 }

